src/proxy/channel/Service References/WcfFileMover/File_Moving_V1053.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.IO" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.IO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.61.21:8101/File_Moving_V10?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DirectoryInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FileSystemInfo" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DirectoryInfo" nillable="true" type="tns:DirectoryInfo" />
  <xs:complexType name="FileSystemInfo">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" processContents="skip" />
    </xs:sequence>
    <xs:attribute ref="ser:FactoryType" />
  </xs:complexType>
  <xs:element name="FileSystemInfo" nillable="true" type="tns:FileSystemInfo" />
  <xs:complexType name="ArrayOfDirectoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectoryInfo" nillable="true" type="tns:DirectoryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectoryInfo" nillable="true" type="tns:ArrayOfDirectoryInfo" />
</xs:schema>