src/proxy/channel/Service References/WcfFileMover/File_Moving_V105.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.61.21:8101/File_Moving_V10?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://172.20.61.21:8101/File_Moving_V10?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import schemaLocation="http://172.20.61.21:8101/File_Moving_V10?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/uBizSoft.FileCopy.Server" />
  <xs:element name="GetDirectories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_directory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDirectoriesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoryInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_directory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoryInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetDirectoryInfoResult" nillable="true" type="q2:DirectoryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoryInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_directory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoryInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetDirectoryInfosResult" nillable="true" type="q3:ArrayOfDirectoryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrives">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/uBizSoft.FileCopy.Server" minOccurs="0" name="GetDrivesResult" nillable="true" type="q4:ArrayOfuDriver" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectoryExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_fullpath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectoryExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DirectoryExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_directory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFilesResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_directory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/uBizSoft.FileCopy.Server" minOccurs="0" name="GetFileInfosResult" nillable="true" type="q6:ArrayOfuFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_fullname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrepareFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_fullname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_offset" type="xs:long" />
        <xs:element minOccurs="0" name="p_bufferSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_fullname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_filehash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>