src/proxy/channel/Service References/WcfFileMover/File_Moving_V1054.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/uBizSoft.FileCopy.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/uBizSoft.FileCopy.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfuDriver">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="uDriver" nillable="true" type="tns:uDriver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuDriver" nillable="true" type="tns:ArrayOfuDriver" />
  <xs:complexType name="uDriver">
    <xs:sequence>
      <xs:element minOccurs="0" name="DriveName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uDriver" nillable="true" type="tns:uDriver" />
  <xs:complexType name="ArrayOfuFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="uFile" nillable="true" type="tns:uFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuFile" nillable="true" type="tns:ArrayOfuFile" />
  <xs:complexType name="uFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastWriteTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Length" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uFile" nillable="true" type="tns:uFile" />
</xs:schema>